.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
  text-align: center;
}
.dialogsItems a {
  text-decoration: none;
}
.dialogsItems :hover {
  color: red;
}

.messages {
  padding: 10px;
}
