.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
  text-align: center;
}
.dialogsItems a {
  text-decoration: none;
}

.dialogsItems :hover {
  color: green;
  font-weight: bold;
}

.messages {
  padding: 10px;
}
.cat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
