.nav {
  grid-area: nav;
  background-color: rgb(195, 239, 245);
  text-align: center;
  padding: 30px;
}

.item a {
  text-decoration: none;
  color: red;
}
.item :hover {
  color: green;
  font-weight: bold;
}
